{% extends "mainpage.html"%}

{% block main_container %}
<form action="">
<div>제목</div>
<div>
{{ QnAs.ques_title }}
</div>
<div>
    글쓴이
</div>
<div>
{{ QnAs.ques_writer }}
</div>
<div>
    내용

</div>
<div>
{{ QnAs.ques_content }}
</div>
<div>작성시간 : {{ QnAs.ques_time }}</div>
<div>
    답글 내용
</div>
<div>
{{ QnAs.ques_answer }}
</div>
<textarea type="" class="form-control text-box" name="ques_answer" id="content" placeholder="내용을 입력하세요."></textarea>
<button class="btn btn-primary" type="submit" formaction="/other/other_reply/{{QnAs.id}}" formmethod="post">답글달기</button>
<button class="btn btn-danger" type="submit" formaction="/other/other_delete/{{QnAs.id}}" formmethod="post">글 삭제</button>
</form>
{% endblock %}
