<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {{ check_ID }}
    <script>
        {{ if check_ID == False }}
        window.oncheck = function () {
            alert("사용가능한 ID입니다.");
        };
        window.uncheck = function () {
            alert("이미 존재하는 ID입니다.");
        };
    </script>



    <meta http-equiv="refresh" content="0;url='/user/user_join'">
</head>

<body>

</body>

</html>