{% extends "mainpage.html"%}

{% block main_container %}

<div class="container">
    <ul class="terms">
        <div id="c-checkbox-item_join-terms-fourteen" class="c-checkbox-item ">
            <div class="wrapper">
                <input type="checkbox" id="chk_join-terms-fourteen" aria-hidden="true" parent-id="">
                <label for="chk_join-terms-fourteen" role="checkbox" aria-label="만 14세 이상입니다" aria-checked="false">
                    <i aria-hidden="true" class="icon icon-chk"></i>
                    <span aria-hidden="true">[필수] 만 14세 이상입니다</span>
                </label>
            </div>
        </div>
        <div id="c-checkbox-item_join-terms-service" class="c-checkbox-item ">
            <div class="wrapper">
                <input type="checkbox" id="chk_join-terms-service" aria-hidden="true" parent-id="">
                <label for="chk_join-terms-service" role="checkbox" aria-label="RDS 이용약관 동의" aria-checked="false">
                    <i aria-hidden="true" class="icon icon-chk"></i>
                    <span aria-hidden="true">[필수] RDS 이용약관 동의</span>
                </label>
                <button class="icon icon-right-arrow" type="button" aria-haspopup="dialog"
                    aria-label="약관 대화상자 열기"></button>
            </div>
        </div>
        <div id="c-checkbox-item_join-terms-commerce" class="c-checkbox-item ">
            <div class="wrapper">
                <input type="checkbox" id="chk_join-terms-commerce" aria-hidden="true" parent-id="">
                <label for="chk_join-terms-commerce" role="checkbox" aria-label="전자금융거래 이용약관 동의" aria-checked="false">
                    <i aria-hidden="true" class="icon icon-chk"></i>
                    <span aria-hidden="true">[필수] 전자금융거래 이용약관 동의</span>
                </label>
                <button class="icon icon-right-arrow" type="button" aria-haspopup="dialog"
                    aria-label="약관 대화상자 열기"></button>
            </div>
        </div>
        <div id="c-checkbox-item_join-terms-privacy-collect-use" class="c-checkbox-item ">
            <div class="wrapper">
                <input type="checkbox" id="chk_join-terms-privacy-collect-use" aria-hidden="true" parent-id="">
                <label for="chk_join-terms-privacy-collect-use" role="checkbox" aria-label="개인정보 수집 및 이용 동의"
                    aria-checked="false">
                    <i aria-hidden="true" class="icon icon-chk"></i>
                    <span aria-hidden="true">[필수] 개인정보 수집 및 이용 동의</span>
                </label>
                <button class="icon icon-right-arrow" type="button" aria-haspopup="dialog"
                    aria-label="약관 대화상자 열기"></button>
            </div>
        </div>
        <div id="c-checkbox-item_agree-to-collect-third-part-information" class="c-checkbox-item ">
            <div class="wrapper">
                <input type="checkbox" id="chk_agree-to-collect-third-part-information" aria-hidden="true" parent-id="">
                <label for="chk_agree-to-collect-third-part-information" role="checkbox" aria-label="개인정보 제3자 제공 동의"
                    aria-checked="false">
                    <i aria-hidden="true" class="icon icon-chk"></i>
                    <span aria-hidden="true">[필수] 개인정보 제3자 제공 동의</span>
                </label>
                <button class="icon icon-right-arrow" type="button" aria-haspopup="dialog"
                    aria-label="약관 대화상자 열기"></button>
            </div>
        </div>
        <div id="c-checkbox-item_POLICY_AGREE_COLLECT" class="c-checkbox-item ">
            <div class="wrapper">
                <input type="checkbox" id="chk_POLICY_AGREE_COLLECT" aria-hidden="true" parent-id="">
                <label for="chk_POLICY_AGREE_COLLECT" role="checkbox" aria-label="마케팅 목적의 개인정보 수집 및 이용 동의"
                    aria-checked="false">
                    <i aria-hidden="true" class="icon icon-chk"></i>
                    <span aria-hidden="true">[선택] 마케팅 목적의 개인정보 수집 및 이용 동의</span>
                </label>
                <button class="icon icon-right-arrow" type="button" aria-haspopup="dialog"
                    aria-label="약관 대화상자 열기"></button>
            </div>
        </div>
        <div id="c-checkbox-item_agree-to-receive-ads" class="c-checkbox-item ">
            <div class="wrapper">
                <input type="checkbox" id="chk_agree-to-receive-ads" aria-hidden="true" parent-id="">
                <label for="chk_agree-to-receive-ads" role="checkbox" aria-label="광고성 정보 수신 동의" aria-checked="false">
                    <i aria-hidden="true" class="icon icon-chk"></i>
                    <span aria-hidden="true">[선택] 광고성 정보 수신 동의</span>
                </label>
                <button class="icon icon-right-arrow" type="button" aria-haspopup="dialog"
                    aria-label="약관 대화상자 열기"></button>
            </div>
        </div>
        <div id="c-checkbox-item_POLICY_AGREE_EMAIL" class="c-checkbox-item  c-checkbox-item__subitem ">
            <div class="wrapper">
                <input type="checkbox" id="chk_POLICY_AGREE_EMAIL" aria-hidden="true" parent-id="">
                <label for="chk_POLICY_AGREE_EMAIL" role="checkbox" aria-label="이메일 수신 동의" aria-checked="false">
                    <i aria-hidden="true" class="icon icon-chk"></i>
                    <span aria-hidden="true">[선택] 이메일 수신 동의</span>
                </label>
            </div>
        </div>
        <div id="c-checkbox-item_POLICY_AGREE_SMS" class="c-checkbox-item  c-checkbox-item__subitem ">
            <div class="wrapper">
                <input type="checkbox" id="chk_POLICY_AGREE_SMS" aria-hidden="true" parent-id="">
                <label for="chk_POLICY_AGREE_SMS" role="checkbox" aria-label="SMS, SNS 수신 동의" aria-checked="false">
                    <i aria-hidden="true" class="icon icon-chk"></i>
                    <span aria-hidden="true">[선택] SMS 수신 동의</span>
                </label>
            </div>
        </div>
        
    </ul>
    <div class="checkall checkall-first">
        <div id="c-checkbox-item_checkall" class="c-checkbox-item ">
            <div class="wrapper">
                <input type="checkbox" id="chk_checkall" aria-hidden="true" parent-id="">
                <label for="chk_checkall" role="checkbox" aria-label="모두 확인하였으며 동의합니다" aria-checked="false">
                    <i aria-hidden="true" class="icon icon-chk"></i>
                    <span aria-hidden="true">모두 확인하였으며 동의합니다.</span>
                </label>
            </div>
        </div>
        <span class="message">
            전체 동의에는 필수 및 선택 정보에 대한 동의가 포함되어 있으며,&nbsp;개별적으로 동의를 선택 하실 수 있습니다.&nbsp;선택 항목에 대한 동의를 거부하시는 경우에도 서비스 이용이
            가능합니다.
        </span>
    </div>
    <button type="button" class="join__button join__button--blue-large-block _joinTrigger" onclick="location.href='/user/user_join'">동의하고 가입하기</button>
</div>

{% endblock %}