{% extends "mainpage.html"%}

{% block main_container %}

<div class="container">
    <div id="search-id" class="justify-content-center col-10">
        <p class="mb-5">아이디 / 비밀번호 찾기</p>
        <form method="POST" action="" class="search-form">
            <div class="regi-input input-group mb-3 row">
                <p class="m-0 regi-title col-3">이름</p>
                <div class="col-8">
                    <input class="regi-input-area col-md-3 m-1" type="text" placeholder="이름" id="idusername">
                </div>
            </div>
            <div class="regi-input regi-phone-check input-group" id="authPhoneBox">
                <p class="regi-title col-3">전화번호 확인</p>
                <div class="col-8 row">
                    <input class="phoneNum col-md-3 m-1" id="phoneNum" type="text" placeholder="핸드폰번호">
                    <button class="btn btn-primary col-md-2 m-1" type="submit">인증</button>
                </div>
            </div>
            <div class="mb-3">핸드폰 번호를 입력해주세요.</div>
            <div class="regi-input input-group mb-3 ">
                <p class="m-0 regi-title col-3 col-md-3 m-1">인증번호 입력</p>
                <input class="register-input regi-input-area" id="phoneIdAuthNum" type="text" placeholder="인증번호입력">
            </div>
            <div class="search-check-btn-wrap mt-3 ">
                <button class="btn btn-primary search-check-btn" id="nextSearchId" type="submit" formaction=""
                    formmethod="post">확인</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}